[Desktop Entry]
Type=Application
Exec=levanditor
Icon=Le
Terminal=false
Categories=Utility;TextEditor;
Keywords=Text;editor;

Name=Levanditor
GenericName=Text Editor
Comment=A Python text editor
